/*Police*/
/*Message dans le chat instantanée*/
@import url('https://fonts.googleapis.com/css?family=Mina');
/*Titre page d'accueil*/
@import url('https://fonts.googleapis.com/css?family=Lobster');




html{
	padding: 0;
	margin: 0;
}

body{
	text-align: center;
	background: url('../img/fond.jpg'), no-repeat;
}


#titre{
	color: orange;
	text-align: center;
}

#titre1{
	color: red;
	text-align: center;
}

label{
	color: white;
}

#message{
	box-shadow:1px 1px 1px #D83F3D;
 	cursor:pointer;
 	color: orange;
 	margin-top: 3%;
 	width: 45%;
}

#messages{
	color: white;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}

#messages strong{
	color: darkgrey;
	text-align: center;
	font-family: 'Mina', sans-serif;
}

/*Accueil*/

#date_heure{
	margin-right: 75%;
	font-family: 'Courgette', cursive;
	color: silver;
	font-size: 15px;
}

#espace_heure{
	padding-top: 5%;
}

.img-rounded{
	float: left;
	margin-bottom: -6%;
	margin-right:50%;
}

.container-fluid{
	text-align: center;	
}

a{
 	background-color:transparent;
}

#youyou{
	text-align: center;
	color: orange;
	padding-bottom: 10%;
	font-family: 'Lobster', cursive;
}

#espace{
	text-align: center;
	color: grey;
	padding-bottom: 5%;
}

/*Formulaire*/

input:required{
    color: green;
}

/*Connexion*/

body{
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-signin{
	max-width: 70%;
	padding: 15%;
	margin: 0 auto;
	margin-bottom: 5%
}

.form-signin .form-signin-heading,
.form-signin .checkbox{
	margin-bottom: 10px;
	color: orange;
}

/*.form-signin .checkbox{
	font-weight: normal;
}*/

.form-signin .form-control{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	   	-moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus{
	z-index: 2;
}

.form-signin input[type="email"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"]{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#pseudo{
	color: orange;
}

.alert{
	text-align: center;
	margin-top: 3%;
}

#minichat{
	color: red;
	margin-bottom: 3%;
}

.myButton{
	text-align: center;
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:block;
	cursor:pointer;
	color:#333333;
	font-family:Berkshire Swash;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
	margin: auto;
	width: 25%;
}

.myButton:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active{
	position:relative;
	top:1px;
}

#clic{
	margin-top: 2%;
	margin-left: 39%;
}

#deconnexion{
	text-align: right;
	padding-right: 2%;
}

#retour{
	text-align: right;
	padding-right: 2%;
}

#footer{
	margin-top: 5%;
	color: orange;
	text-align: center;
}

.chatonline{
	height: 400px;
	padding-top: 2%;
	padding-bottom: 2%;
	overflow:auto;
    word-wrap:break-word;
	background-image: url('../img/fond_chat.jpg');
	background-repeat: no-repeat;
	border-style: medium;
	border-radius: 2%;
	width: 50%;
	margin-left: 25%;
}

#actualisation{
	margin-left: 2%;
	margin-top:-4%;
}